---
import CommandsSection from "../components/CommandsSection.astro";
import FeatureSection from "../components/FeatureSection.astro";
import HeroSection from "../components/HeroSection.astro";
import InstallSection from "../components/InstallSection.astro";
import RoadmapPreviewSection from "../components/RoadmapPreviewSection.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import Layout from "../layouts/Layout.astro";
import {
  commands,
  commandsIntro,
  features,
  footerContent,
  heroContent,
  installIntro,
  installOptions,
  navItems,
  roadmapIntro,
  roadmapSteps,
  terminalLines,
  whyIntro,
} from "../data/home";
---

<Layout>
  <SiteHeader navItems={navItems} />
  <main>
    <HeroSection content={heroContent} terminalLines={terminalLines} />
    <FeatureSection intro={whyIntro} features={features} />
    <CommandsSection intro={commandsIntro} commands={commands} />
    <RoadmapPreviewSection intro={roadmapIntro} steps={roadmapSteps} />
    <InstallSection intro={installIntro} options={installOptions} />
  </main>
  <SiteFooter content={footerContent} />
</Layout>
